.container {
  height: calc(100vh - 5rem);

  position: relative;
  display: flex;

  align-items: center;
  flex-direction: column;
  background-color: #2876f9;
  background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);
}

.title {
  color: aliceblue;
  font-size: 6rem;
  margin-top: 50px;
  margin-bottom: 60px;
}

.itemsSale {
  color: aliceblue;
  font-size: 2rem;
  width: 100%;
  padding-left: 200px;
  margin-bottom: 10px;
}

.HomeNFTList {
  display: flex;
  justify-content: center;
}
